//nexus.dev.iralogix.com/repository/:_authToken=NpmToken.00e0b321-4026-3183-a2c8-5fd92e48d36d
registry=https://registry.npmjs.org/
//nexus.dev.iralogix.com/repository/npm-group/:_authToken=NpmToken.00e0b321-4026-3183-a2c8-5fd92e48d36d
@irx:registry=https://nexus.dev.iralogix.com/repository/npm-private/
@harnessio:registry=https://registry.npmjs.org/
